@{
    ViewData["Title"] = "Product For Admin";
    Layout = "_AdminLayout";
}

<div class="text-center">
    <p> Day la Trang Product cho Admin</p>
    <h2>VIÊN UỐNG BỔ GAN LIVER HYDROLYSATE NHẬT BẢN</h2>
    <div class="Image">
        <img src="~/img/testProduct/thuoc1.png"/>
    </div>
    <p>
        Thông tin sản phẩm:
    </p>
    <p>
        Xuất xứ: Nhật Bản
        Quy cách: Dạng lọ 180 viên
        Nhà sản xuất: Liver Hydrolysate Japan
        Mã JAN / mã ISBN: 4987103049111
    </p>
    <p>
        Viên uống bổ gan Liver Hydrolysate Nhật Bản là sản phẩm giúp giải độc gan, cung cấp các dưỡng chất tốt cho gan để phục hồi chức năng gan, cho lá gan khỏe mạnh hơn. Với các thành phần từ vitamin thiết yếu cho cơ thể như: B15, B2, E,…cùng các khoáng chất khác, bổ gan Liver Hydrolysate là sản phẩm thiết yếu để bạn có lá gan khỏe mạnh.

        Giải độc gan Liver Hydrolysate Nhật Bản có tốt không?
        Gan là bộ phận quan trọng trong cơ thể người, đóng vai trò như một máy lọc các chất độc hại trong cơ thể ra ngoài, đồng thời chuyển hóa các chất din dưỡng vào trong cơ thể. Chính vì vậy, gan là cơ quan luôn phải tiếp xúc với các thành phần độc hại mà con người sử dụng. Cũng vì lý do đó, nên gan rất dễ nhiễm độc, khiến chức năng gan suy giảm, gây ra các bệnh nguy hiểm như: xơ gan, ung thư gan, gan nhiễm mỡ,…

        Gan là bộ phận rất quan trọng trong cơ thể không những là bộ máy lọc sạch các chất độc mà còn có chức năng chuyển hóa các chất dinh dưỡng, tham gia vào quá trình đông máu  của cơ thể.

        Cuộc sống hiện nay, chúng ta thường xuyên tiếp xúc với vô số  thực phẩm chứa nhiều độc tố khiến gan phải làm việc liên tục, làm giảm chức năng của gan khiến cho các bệnh về gan như sơ gan ung thư gan tiếp tục tăng cao..

        Việt Nam là nước có quốc gia mắc các bệnh về gan cao hàng đầu trên thế giới, với số liệu thống kê lên đến hơn 10000 ca mỗi năm.

        Thành phần chính trong viên uống bổ gan Liver Hydrolysate
        Hydrolysate gan … 600mg

        Dichloroacetate Diisopropylamine  (vitamin B15) … 30mg

        Riboflavin (vitamin B2) … 12 mg

        Tocopherol acetate (vitamin E) … 9mg

        Tinh thể cellulose, mannitol D-, calcium silicate, carmellose canxi (CMC-Ca), magiê stearate, gum arabic bột, đường trắng tinh luyện, gelatin, hypromellose (hydroxypropyl methylcellulose), pullulan, calcium sulfate, oxit sắt, đỏ số 3, Blue số 1, sáp carnauba.
    </p>
    <img src="~/img//testProduct/thuoc1.png"/>
    <p>
        Công dụng của Viên uống giải độc gan Liver Hydrolysate 180 viên
        Hỗ trợ tăng cường chức năng gan, giải độc gan để gan hoạt động hiệu quả hơn.
        Thúc đẩy sản sinh các tế bào gan mới và phục hồi các tế bào gan bị xơ nhờ vitamin B15.
        Hỗ trợ chuyển hóa các dưỡng chất hiệu quả hơn
        Ngăn chặn quá trình lão hóa và oxy hóa các tế bào gan, giúp gan khỏe mạnh hơn.
        Tăng cường tuần hoàn máu và hoạt động trao đổi chất trong cơ thể.
        Ngăn ngừa nguy cơ mắc các căn bệnh nguy hiểm như: gan nhiễm mỡ, ung thư gan, xơ gan, viêm gan,…
        Kích thích sự phát triển của màng tế bào gan, bảo vệ gan khỏi các chất độc hại.
        Tăng cường quá trình tổng hợp protein ở gan, hỗ trợ lọc máu và đông máu.
        Ngăn ngừa sự hình thành các sợi collagen gây xơ gan
        ổn định các tế bào gan bị viêm, giảm nồng độ enzyme trong gan, chống oxy hóa tế bào gan,.
        Hướng dẫn sử dụng Viên uống bổ gan Liver Hydrolysate
        Uống mỗi ngày 6 viên, chia thành 3 lần, uống sau bữa ăn.

        Không sử dụng sản phẩm cho trẻ nhỏ dưới 15 tuổi, phụ nữ đang mang thai hoặc đang cho con bú
    </p>
</div>