@model OnlineShop.Model.Models.PostContent
@{
    ViewData["Title"] = "Create Post For Admin";
    Layout = "_AdminLayout";
}

<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckfinder/ckfinder.js"></script>

<html>
<body>
    <h3>Nội Dung Cơ Bản</h3>
    <hr />
    <form asp-action="Create">
    <div class="row">
        <div class="col-md-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaTitle" class="control-label"></label>
                <input asp-for="MetaTitle" class="form-control" />
                <span asp-validation-for="MetaTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViewCount" class="control-label"></label>
                <input asp-for="ViewCount" class="form-control" />
                <span asp-validation-for="ViewCount" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            @*<div class="form-group">
                <label asp-for="TopHot" class="control-label"></label>
                <input asp-for="TopHot" class="form-control" />
                <span asp-validation-for="TopHot" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="CategoryID" class="control-label"></label>
                <input asp-for="CategoryID" class="form-control" />
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warranty" class="control-label"></label>
                <input asp-for="Warranty" class="form-control" />
                <span asp-validation-for="Warranty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaDescription" class="control-label"></label>
                <input asp-for="MetaDescription" class="form-control" />
                <span asp-validation-for="MetaDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detail" class="control-label"></label>
                <input asp-for="Detail" class="form-control" />
                <span asp-validation-for="Detail" class="text-danger"></span>
            </div>      
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
                <h3>Nội Dung Chi Tiết Bài Đăng</h3>
            <hr />
            <textarea id="NoiDung" name="NoiDung" rows="50" cols="200">
                Nhập Nội Dung Bài Viết Vào Đây
            </textarea>
            <script>
                var editor = CKEDITOR.replace("NoiDung",
                    {
                        filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
                        filebrowserImageBrowseUrl: '/ckfinder/ckfinder.html?type=Images',
                        filebrowserFlashBrowseUrl: '/ckfinder/ckfinder.html?type=Flash',
                        filebrowserUploadUrl: '/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images',
                        filebrowserImageUploadUrl: '/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images',
                        filebrowserFlashUploadUrl: '/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Flash',
                        filebrowserWindowWidth: '1000',
                        filebrowserWindowHeight: '700'
                    }
                );
            </script>
        </div>
    </div>
    @*<div class="form-group" style="padding-top: 10px">
        <input type="submit" value="Đăng Bài" class="btn btn-primary" />
    </div>*@
    <div class="row" style="padding-top: 10px">
        <div class="col-md-1 form-group">
            <input type="submit" value="Đăng Bài" class="btn btn-primary" />
        </div>
        <div class="col-md-3">
            <a asp-action="Index" class="btn btn-primary">Trở Về Trang Danh Sách Bài Viết</a>
        </div>
    </div>
    </form>
</body>
</html>

<script>
    function SaveBtn() {
        var editorData = CKEDITOR.instances.NoiDung.getData();
        document.getElementById("test").innerHTML = editorData;
        const formData = new FormData();
        formData.append("imageFilePath", editorData);
        $.ajax({
            type: "POST",
            url: "/PostAdmin/Create",
            contentType: false,
            processData: false,
            async: true,
            data: formData,
            success: (data) => {
                console.log("initData", data);
            },
            error: function (response) {
                console.error(response.responseText);
                w2ui.grid.unlock();
            }
        });
    }
</script>