@model OnlineShop.Model.Models.PostContent

@{
    ViewData["Title"] = "Edit Post For Admin";
    Layout = "_AdminLayout";
}

<html>
<body>
    <h3>Nội Dung Cơ Bản</h3>
    <hr />
    <form asp-action="EditPost">
        <div class="row">
            <div class="col-md-5">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MetaTitle" class="control-label"></label>
                    <input asp-for="MetaTitle" class="form-control" />
                    <span asp-validation-for="MetaTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ViewCount" class="control-label"></label>
                    <input asp-for="ViewCount" class="form-control" />
                    <span asp-validation-for="ViewCount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tags" class="control-label"></label>
                    <input asp-for="Tags" class="form-control" />
                    <span asp-validation-for="Tags" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="CategoryID" class="control-label"></label>
                    <input asp-for="CategoryID" class="form-control" />
                    <span asp-validation-for="CategoryID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Warranty" class="control-label"></label>
                    <input asp-for="Warranty" class="form-control" />
                    <span asp-validation-for="Warranty" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MetaDescription" class="control-label"></label>
                    <input asp-for="MetaDescription" class="form-control" />
                    <span asp-validation-for="MetaDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr />
                <h3>Nội Dung Chi Tiết Bài Đăng</h3>
                <hr />
                @Html.TextAreaFor(model => model.Detail, new { id = "NoiDung", name = "NoiDung", rows="50", cols="150"})
                <script>
                    var editor = CKEDITOR.replace("NoiDung",
                        {
                            filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
                            filebrowserImageBrowseUrl: '/ckfinder/ckfinder.html?type=Images',
                            filebrowserFlashBrowseUrl: '/ckfinder/ckfinder.html?type=Flash',
                            filebrowserUploadUrl: '/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images',
                            filebrowserImageUploadUrl: '/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images',
                            filebrowserFlashUploadUrl: '/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Flash',
                            filebrowserWindowWidth: '1000',
                            filebrowserWindowHeight: '700'
                        }
                    );
                </script>
            </div>
        </div>
        <div class="row" style="padding-top: 10px">
            <div class="col-md-1 form-group">
                <input type="submit" value="Sửa Bài Viết" class="btn btn-primary" />
            </div>
            <div class="col-md-3" style="padding-left:30px">
                <a asp-action="IndexPost" class="btn btn-primary">Trở Về Trang Danh Sách Bài Viết</a>
            </div>
        </div>
    </form>
</body>
</html>

