@model OnlineShop.ViewModels.PostCategoryVM

@{
    ViewData["Title"] = "Edit Post Categories For Admin";
    Layout = "_AdminLayout";
}

<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckfinder/ckfinder.js"></script>

<html>
    <body>
    <h3>Nội Dung Cơ Bản</h3>
    <hr />
    <form asp-action="EditCategories">
        <div class="row">
            <div class="col-md-5">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                @*<div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="MetaTitle" class="control-label"></label>
                    <input asp-for="MetaTitle" class="form-control" />
                    <span asp-validation-for="MetaTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ParentID" class="control-label"></label>
                    <input asp-for="ParentID" class="form-control" />
                    <span asp-validation-for="ParentID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShowOnHome" class="control-label"></label>
                    <input asp-for="ShowOnHome" class="form-control" />
                    <span asp-validation-for="ShowOnHome" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                @*<div class="form-group">
                    <label asp-for="DisplayOrder" class="control-label"></label>
                    <input asp-for="DisplayOrder" class="form-control" />
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="SeoTitle" class="control-label"></label>
                    <input asp-for="SeoTitle" class="form-control" />
                    <span asp-validation-for="SeoTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MetaDescription" class="control-label"></label>
                    <input asp-for="MetaDescription" class="form-control" />
                    <span asp-validation-for="MetaDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MetaKeyword" class="control-label"></label>
                    <input asp-for="MetaKeyword" class="form-control" />
                    <span asp-validation-for="MetaKeyword" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr />
                <h3>Nội Dung Chi Tiết Bài Đăng</h3>
                <hr />
                @Html.TextAreaFor(model => model.MetaDescription, new { id = "NoiDung", name = "NoiDung", rows="50", cols="150"})
                <script>
                    var editor = CKEDITOR.replace("NoiDung",
                        {
                            filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
                            filebrowserImageBrowseUrl: '/ckfinder/ckfinder.html?type=Images',
                            filebrowserFlashBrowseUrl: '/ckfinder/ckfinder.html?type=Flash',
                            filebrowserUploadUrl: '/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images',
                            filebrowserImageUploadUrl: '/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images',
                            filebrowserFlashUploadUrl: '/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Flash',
                            filebrowserWindowWidth: '1000',
                            filebrowserWindowHeight: '700'
                        }
                    );
                </script>
            </div>
        </div>
        <div class="row" style="padding-top: 10px">
            <div class="col-md-1 form-group">
                <input type="submit" value="Sửa Bài Viết" class="btn btn-primary" />
            </div>
            <div class="col-md-3" style="padding-left:30px">
                <a asp-action="Index" class="btn btn-primary">Trở Về Trang Danh Sách Bài Viết</a>
            </div>
        </div>
    </form>
    </body>
</html>

